*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 8.4% 7.7%,
    rgb(51, 98, 129) 0%,
    rgb(88, 177, 218) 100.2%
  );
}

.calculator {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  min-height: 100vh;
}

.calculator > button {
  font-size: 2rem;
  border: 1px solid #fcf9f9;
  background-color: rgba(255, 255, 255, 0.4);
  outline: aliceblue;
  cursor: pointer;
}

.calculator > button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#clear,
#equals {
  grid-column: span 2;
}

#display {
  color: #fff;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 9px;
  word-wrap: break-word;
  word-break: break-all;
  grid-column: 1 / 5;
  background-color: rgba(0, 0, 0, 0.5);
  border: 7px solid rgb(237, 236, 231);
  border-style: double;
}

#display > #pOper {
  color: rgba(255, 255, 255, 0.7);
}

#display > #cOper {
  color: #fff;
}

h5 {
  color: rgb(249, 249, 249);
  font-size: 30px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-column: 1/5;
}
