*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(3, 55, 151, 0.5);
}

.calculator {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(4, 120px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  padding: 2rem;
  border: 2px solid #fff;
  min-height: 100vh;
}

.calculator .buttons {
  background-color: rgba(44, 40, 68, 0.5);
  font-size: 2rem;
  border: 1px solid #fcf9f9;
  outline: aliceblue;
  cursor: pointer;
}

.buttons {
  position: relative;
}

.buttons button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6.25rem;
  height: 5rem;
  border: 1.5px solid #fff;
  border-radius: 15%;
  box-shadow: 3px 7px 3px #060606;
  font-size: 2rem;
  color: #fff;
  background-color: rgba(54, 54, 54, 0.5);
}

.buttons button[clear],
.buttons button[equal] {
  width: 13.75rem;
}

.calculator .buttons > button:hover {
  color: #000;
  background-color: rgb(125, 125, 157);
  transition: all 0.35s ease;
}

#clear,
#equals {
  grid-column: span 2;
}

#display {
  color: #fff;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 8px;
  grid-column: 1/5;
  background-color: rgba(0, 0, 0, 0.5);
  border: 7px solid rgb(237, 236, 231);
  border-style: double;
}

#display > #pOper {
  color: rgba(255, 255, 255, 0.7);
}

#display > #cOper {
  color: #fff;
}

h5 {
  color: rgb(249, 249, 249);
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}
